*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.sidebar{
    background: #0F457B ;
    height: 100vh;
}

.main-container{
    width: 100% !important;
}
.logo1{
    font-size: 18px;
    line-height: 1;
}
.top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.link{
  display: flex;
  gap: 10px;
  padding: 5px 10px; 
  border-right: 4px solid transparent; 
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51,89);
}
